<div class="container-fluid pb-3">
  <div class="row bg-dark bg-gradient">
    <div class="col-sm-12 mt-3 mb-1">
      <h1 class="text-center"><a href="/" class="text-light text-decoration-none">DasCrypto</a></h1>
      <h3 class="text-center text-muted">Chia Mining Pool</h3>
    </div>
  </div>
  <div class="row justify-content-center bg-secondary bg-gradient">
    <div class="col-sm-3 mt-3 mb-3">
      <ul class="nav nav-fill justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-white" href="/faqs">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="https://discord.gg/7yfxX2gKfp" target="_new">Get Support</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light" href="https://app.dascrypto.farm" target="_new"><i class="fas fa-sign-in-alt"></i>&nbsp;Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</div>
